body {
    font-family: 'Belleza', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
}

.navbar .container-fluid {
    display: flex;
    justify-content: flex-start;
    height: 5vh;
}

.navbar {
    /* font-family: var(--heading-font-family); */
    font-weight: bold;
}

.hero {
    padding: 10px;
    margin-right: 5px;
}

.hero-image  {
    background-image: url("src/images/20190409_181100.jpg");
    background-color: lightgray;
    height: 5vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 750px;
    display: flex;
    justify-content: center;
    /* background-position: center; */
    /* padding-bottom: 5px;
    padding-right: 950px;
    padding-left: 750px; */
}

.hero-text {
    font-family: var(--heading-font-family);
    text-align: left;
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 { 
    font-size: 65px;
    text-shadow: 2px 2px black;
}

.hero-text h2 { 
    font-size: 42px;
    text-shadow: 2px 2px black;
}

.hero-text p {
    font-family: var(--secondary-font-family);
    text-shadow: 2px 2px black;
}


.card-text {
    text-align: center;
}

footer {
    background-color: #eef8f3;
}
